<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Emotionsmessung
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="actionsatisfaction" (ngSubmit)="sendForm()">
    <ion-list>
      <ion-item>
        <ion-label position = "floating">Was tust du grade?</ion-label>
        <ion-input formControlName="activity"></ion-input>
      </ion-item>

      <ion-list-header>Wie sehr genießt du das?</ion-list-header>
      <ion-item>
          <ion-label>1</ion-label>
          <ion-range min="1" max="10" step="1" snaps="true" color="secondary" formControlName="actionsatisfactionValue" pin = "true"></ion-range>
          <ion-label>10</ion-label>    
      </ion-item>
    </ion-list>
    <ion-button type="submit" [disabled]="!actionsatisfaction.valid || isActDone">Okay</ion-button>
  </form>
</ion-content>
