<ion-header>
  <ion-toolbar>
    <ion-title>
      Lebenszufriedenheitsmessung
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="lifesatisfaction" (ngSubmit)="sendForm()">
    <ion-list>
      <ion-radio-group formControlName="lifesatisfationValue">
        <ion-list-header>
          <ion-label>Wie zufrieden bist du mit deinem Leben im Generellen?</ion-label>
        </ion-list-header>
  
        <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10];">
          <ion-label>{{i}}</ion-label>
          <ion-radio slot="start" value="{{i}}"></ion-radio>
        </ion-item>
  
      </ion-radio-group>
    </ion-list>
  
    <button ion-button type="submit" [disabled]="!lifesatisfaction.valid || isHappiDone">Okay</button>
  </form>
</ion-content>
