<ion-header>
  <ion-toolbar>
    <ion-title>
      Lebenszufriedenheitsmessung
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-content>
    Hier kommt die Lebenszufriedenheitsmessung rein.
  </ion-card-content>
</ion-card>



<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Wie zufrieden bist du mit deinem Leben im Generellen?</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>1</ion-label>
      <ion-radio slot="start" value="1" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>2</ion-label>
      <ion-radio slot="start" value="2"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>3</ion-label>
      <ion-radio slot="start" value="3"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>4</ion-label>
      <ion-radio slot="start" value="4"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>5</ion-label>
      <ion-radio slot="start" value="5"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>6</ion-label>
      <ion-radio slot="start" value="6"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>7</ion-label>
      <ion-radio slot="start" value="7"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>8</ion-label>
      <ion-radio slot="start" value="8"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>9</ion-label>
      <ion-radio slot="start" value="9"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>10</ion-label>
      <ion-radio slot="start" value="10"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>