<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Dev-Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color = "secondary">
      UI-Services
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>isActDone - {{isActDone}}</li>
        <li>isHappiDone - {{isHappiDone}}</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-list>
        <ion-list-header>You like this range?</ion-list-header>
          <ion-item>
            <ion-label>1</ion-label>
            <ion-range min="1" max="10" step="1" snaps="true" color="secondary" [(ngModel)]="singleValue" pin = "true"></ion-range>
            <ion-label>10</ion-label>
          </ion-item>
        </ion-list>
  </ion-card>




</ion-content>
